@media screen and (max-width: 1024px) {
    :root {
        --main-color: #313131;
        /* var(--main-color) */
        --second-color: #FFFFFF;
        /* var(--second-color) */
        --blue-color: #3C93FD;
        /* var(--light-blue-color) */
        --grey-buttom: #C8C8C8;
        /* var(--grey-color) */
        --black-color: #000000;
        /* var(--black-color) */
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(146deg, rgba(255,0,0,1) 5%, rgba(255,255,255,1) 15%, rgba(255,0,0,1) 25%, rgba(255,255,255,1) 35%, rgba(255,0,0,1) 45%, rgba(255,255,255,1) 55%, rgba(255,0,0,1) 65%, rgba(255,255,255,1) 75%, rgba(255,0,0,1) 85%, rgba(255,255,255,1) 95%);
        border-radius: 10px;
    }

    * {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration: none;
    }

    body {
        margin: 0 auto;
        max-width: 1024px;
        background: var(--main-color);
    }

    /* Header */
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: flex;
        margin: auto;
    }

    ul {
        display: flex;
        margin: 0;
    }

    .logo {
        width: 75px;
        height: 55px;
        margin-left: 20px;
    }

    li {
        list-style: none;
        margin: 25px;
        font-size: 16px;
        font-weight: 400;
    }

    li a {
        color: var(--grey-buttom);
    }

    li a:hover {
        color: var(--blue-color);
    }

    /* Main */
    .container-home {
        display: flex;
        padding-top: 158px;
        align-items: center;
        justify-content: space-between;
    }

    .container-title-button {
        max-width: 550px;
    }

    h1 {
        font-weight: 700;
        font-size: 40px;
        color: var(--second-color);
    }

    h2 {
        font-weight: 400;
        font-size: 25px;
        color: var(--grey-buttom);
    }

    .button {
        width: 263px;
        height: 58px;
        border-radius: 20px;
        background: var(--blue-color);
    }

    .button:hover {
        background: #3076cb;
    }

    .g-btn {
        width: 263px;
    }

    .button p {
        display: flex;
        justify-content: center;
        color: var(--second-color);
        font-weight: 400;
        font-size: 20px;
        padding-top: 17px;
    }

    .image-home {
        width: 350px;
        height: 350px;
        margin-right: 20px;
        animation: 1s linear alternate;
        animation-name: slide;
    }

    @keyframes slide {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
        }
    }

    .container-why {
        display: grid;
        justify-content: center;
        padding-top: 158px;
    }

    .bloc-why {
        display: flex;
        align-items: center;
    }

    .why-img {
        width: 300px;
        height: 300px;
        margin-left: 38px;
        margin-right: 38px;
    }

    .why h3 {
        font-weight: 700;
        font-size: 40px;
        max-width: 500px;
        color: var(--second-color);
    }

    .why p {
        font-weight: 400;
        font-size: 20px;
        max-width: 445px;
        color: var(--grey-buttom);
    }

    .container-go {
        display: flex;
        padding-top: 138px;
        align-items: center;
    }

    .letsgo {
        margin: auto;
    }

    .letsgo h2 {
        font-size: 40px;
        font-weight: 700;
        color: var(--second-color);
    }

    .g-btn-go {
        width: 263px;
        margin: auto;
    }

    .button-go {
        width: 263px;
        height: 58px;
        background: var(--blue-color);
        border-radius: 20px;
    }

    .button-go:hover {
        background: #3076cb;
    }

    .button-go p {
        display: flex;
        justify-content: center;
        color: var(--second-color);
        font-weight: 400;
        font-size: 20px;
        padding-top: 17px;

    }

    footer {
        margin-top: 71px;
        background: #444444;
        width: 100%;
        height: 343px;
    }

    .container-footer {
        display: flex;
        justify-content: space-evenly;
    }

    .block-f {
        margin-top: 63px;
    }

    .block-f h3 {
        font-weight: 700;
        font-size: 20px;
        color: var(--second-color);
    }

    .block-f a {
        font-weight: 400;
        font-size: 15px;
        color: var(--grey-buttom);
    }

    .block-f a:hover {
        color: var(--blue-color);
    }

    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-footer {
        width: 25px;
        height: 20px;
        margin-right: 10px;
    }

    .copyright p {
        color: var(--grey-buttom);
        font-weight: 400;
        font-size: 15px;
    }
}